absl-py
pytype
typing
ml-collections
xmanager
numpy
gin-config
pyglove

tensorflow==2.8.0
tensorflow-probability==0.15.0
procgen

gym
gym[atari]
gym[mujoco-py]
gym[accept-rom-license]

dm_control==0.0.425341097
dm-reverb==0.7.1
dm-sonnet==2.0.0
dm-acme==0.4.0

stable-baselines3==1.1.0
tf-agents==0.10.0
trfl==1.2.0
